<div class="container">
  <div class="header">
    <mat-form-field>
      <label>Latitude</label>
      <input [(ngModel)]="latitude" matInput type="number" name="lat" min="-90" max="90">
    </mat-form-field>
    <mat-form-field>
      <label>Longitude</label>
      <input [(ngModel)]="longitude" matInput type="number" name="lng" min="-180" max="180">
    </mat-form-field>
    <mat-form-field>
      <label>Résolution</label>
      <input [(ngModel)]="resolution" matInput type="number" name="lng" min="0" max="15">
    </mat-form-field>
    <button class="btn" mat-raised-button color="primary" (click)="setCoordinate()">Set</button>
  </div>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
