::ng-deep {
  #map {
    height: 100%;
  }

  .leaflet-custom- control {
    padding: 4px;
    background-color: whitesmoke;
    font-weight: bold;
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  .header {
    height: 13vh;
  }

  .map-container {
    height: 85vh;
  }
}
