::ng-deep {
  #map {
    height: 100%;
  }

  .leaflet-custom-control {
    padding: 4px;
    width: 2rem;
    height: 2rem;
    background-color: whitesmoke;
    font-weight: bold;

    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  .header {
    display: flex;
    align-items: flex-start;
  }

  .map-container {
    height: 85vh;
  }
}
